.main-right {
    flex-grow: 1;       /* 자식요소에게만 사용 가능, 남은 영역을 채움 */
    max-width: 896px;
}

.repositories-main-options {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    padding: 16px 0px;
    width: 100%;
    white-space: nowrap;
}

.find-repositories-input {
    margin-right: 10px;
    border: 1px solid #dbdbdb; 
    border-radius: 6px;
    width: 500px;
    max-width: 505px;
    min-width: 220px;
}

.repository-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    padding: 24px 0px;
    width: 100%;
}

.repository-list-left span, p{
    color: #7D8590;
}

.repository-title{
    height: 30px;
}

.repository-name{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color : #0969da;
}

.repository-name:hover{
    text-decoration:underline;
}

.repository-access-type{
    margin: 0px 0px 4px 4px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 0px 7px;
    font-size: 12px;

}

.repository-description{
    margin-bottom: 8px;
    padding-right: 24px;
    font-size: 14px;
}

.repository-info{
    margin-top: 16px;
    font-size: 12px;
}

.repository-skill-color{
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: #e34c26;
}

.repository-skill-name{
    margin-right: 16px;
}

.repository-list-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.star-buttons {
    display: flex;
}

.star-buttons .btn-s-right{
    border-left: none;
}

.star-icon {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 700;
}

.commit-gragh {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
}

.gragh-line{
    width: 155px;
    border-bottom: 1px solid #00d13469;
}